body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f2f2;
    color: #00695c;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;

}
.titulo{
    justify-content: center;
    display: flex;
}
.box-center{
    background-color: #2173eea8;
    padding: 1rem;
}
.box-center ul{
    margin: 1rem;
}
.box-center h1{
    margin: 1rem;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #00796b;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    padding: 20px;
}

h2 {
    color: #079726;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1rem;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #b2dfdb;
    border-radius: 4px;
}

form button {
    background: #19ad32;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    text-transform: uppercase;
}

form button:hover {
    background: #004d40;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e0f2f1;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

ul li a {
    color: #00796b;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

footer{
    display: flex;
    justify-content: center;
}
